<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel Asistencia</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Panel de Descarga de Asistencia</h2>
        <p class="text-center">Solo usuarios administradores pueden acceder a esta página.</p>
        
        <div class="text-center mt-4">
            <a href="{% url 'descargar_excel' %}" class="btn btn-success btn-lg">
            Descargar Excel de Asistencias
            </a>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'resumen_excel' %}" class="btn btn-success btn-lg">
            Descargar Excel de Resumen de Asistencias
            </a>
        </div>
    </div>
</body>
</html>